/*
//
// (c) GameJammers 2022
// http://www.jamming.games
//
*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IM+Fell+English+SC&family=Noto+Sans&display=swap');

:root {
	--color-d0: #261f33;
	--color-d1: #3c3f4f;
	
	--color-m0: #717882;
	--color-m1: #7b4c7d;

	--color-b0: #c78e77;
	--color-b1: #a65370;

	--color-error: #dd2222;
	
	--logo-font: 'IM Fell English SC', serif;
	--title-font0: 'Fjalla One', sans-serif;
	--body-font0: 'Noto Sans', sans-serif;
}


body {
	margin: 0px;
	padding: 0px;
	background-color: var(--color-d0);
}

#root {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}
